<ion-view view-title="Dashboard">
  <ion-content class="padding">
   <div class="list card">
 <ion-icon name="pizza"></ion-icon>
  <div class="item item-avatar">
    <img src="mcfly.jpg">
    <h2>The Valet Hustle</h2>
    <p>How To Eat A Meal</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="delorean.jpg">
    <p>
      Find a lot inside the inner city near a public establishement with plenty of traffic. Acquire one or several traffic cones and a flashlight, block off a couple of parking spots and stand authoritively. When cars enter the lot, charge ~$10 to park, collect as long as possible. 
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  </div>
  </ion-content>
</ion-view>
